
.card{

    border: 2px solid #000;
    width: 250px;
    border-radius: 10px;
    box-shadow: 6px 6px 8px rgba(146,146,146, 146);
    flex-direction: column;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: cadetblue;  
    cursor: pointer;
}
.lista-card{
    
    display: flex;
    flex-wrap: wrap; 
}
.imagem{
    width: auto;
    height: auto;
    justify-content: center;
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-size: cover; 
}
.card:hover{
    background-color: aquamarine !important;
}
.grupo-img{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.textos{
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center; 
}
footer{
    border: 2px solid rgb(71, 151, 231);
    font-size: larger ;
    color: blue;
    background-color:aquamarine;
}
.navbar{
    display: flex;
    font-weight: bolder;
    color:rgb(238, 55, 95);
    font-size: 25px;
    background-color:black;
    
    

}
.nav-list{
    list-style: none; /* Remova os marcadores de lista */
    display: flex; /* Use flexbox para alinhar os itens horizontalmente */
    justify-content: center; /* Centralize os itens horizontalmente */
    
}
.nav-list li{
    margin-right: 40px;/*espaçamento entre os items*/
}
.nav-list li a {
    text-decoration: none; /* Remova a decoração de link */
    color: #fff; /* Cor do texto */
    font-weight: bold; /* Texto em negrito */

}

.grupo-img:hover {
    transform: scale(1.35); /* Aumenta a imagem em 35% */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}
.nav-list li a:hover{
    color:aquamarine;
}
.botton{
    border: 2px solid red;
    background-color: aquamarine;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.mini-img{
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

    






